@media (min-width:320px) and (max-width:500px){
    .bottomclass_grille{
        grid-template-columns: 1fr !important;
    }
    .footer_price,.footer_ligne,.footer_grille,.footer_infobot_centrage,.footer_copybot_centrage{
        width: 90%;
    }
    .bandeau{
        padding: 20px 0px;
        flex-direction: column;
        text-align: center;
    }
    .bandeau_text{
        width: 210px;
        margin: 0px;
    }
    .iphone13{
        background-image: url("../img/hero_iphone13pro_avail__iy77cld0zwii_small.jpg");
        padding-top: 60px;
    }
    .iphone13_title{
        font-size: 1.3rem;
    }
    .iphone13_stitle{
        font-size: 0.8rem;
    }
    .iphoneSE_new,.iphoneSE_stitle{
        color: rgb(173, 163, 151);
    }
    .text_link_blue{
        font-size: 0.8rem;
        margin: 5px 15px !important;
    }
    .text_link_blue::after{
        margin: 0px !important;
    }
    .iphoneSE_stitle{
        font-size: 0.5rem;
    }
    .iphonewatch_stitle{
        font-size: 0.5rem;
    }
    .bottomclass{
        display: none;
    }
    .footer_grille{
        grid-template-columns: 1fr;
    }
    .footer_grille_sliste{
        display: none;
    }
    footer input:checked + ul>.footer_grille_sliste{
        display: block;
    }
    .footer_grille_liste{
        flex-direction: column;
    }
    .footer_label{
        display: block;
    }
}
@media (min-width:500px) and (max-width:768px){
    .bottomclass_grille{
        grid-template-columns: 1fr !important;
    }
    .footer_price,.footer_ligne,.footer_grille,.footer_infobot_centrage,.footer_copybot_centrage{
        width: 90%;
    }
    .bandeau{
        padding: 20px 0px;
        flex-direction: column;
        text-align: center;
    }
    .bandeau_text{
        width: 210px;
        margin: 0px;
    }
    .iphone13{
        background-image: url("../img/hero_iphone13pro_avail__iy77cld0zwii_small.jpg");
        padding-top: 60px;
    }
    .iphone13_title{
        font-size: 1.3rem;
    }
    .iphone13_stitle{
        font-size: 0.8rem;
    }
    .iphoneSE_new,.iphoneSE_stitle{
        color: rgb(173, 163, 151);
    }
}
@media (max-width:1150px){
    .barburger{
        display: flex;
    }
    .menutop_liste{
        transition: ease-in-out 0.25s;
    }
    header input:checked + .menutop_liste{
        order: 2;
        align-items: flex-start;
        flex-direction: column;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #141414;
        margin-top: 48px;
        z-index: 1;
    }
    header input:checked + ul>.menutop_separation{
        display: block;
    }
    header input:checked + ul>.menutop_liste_individuel{
        display: block;
        font-size: 1.2rem;
    }
    .menutop_liste_individuel{
        display: none;
        margin: 5px 10%;
    }
    .logo{
        order: 3;
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-left: 30px;
    }
    .menutop_sac{
        display: flex;
        justify-content: end;
        margin-right: 30px;
    }
}